{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Papers Portal Admin') }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'favicon.ico' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'favicon.ico' %}" alt="AUMP" style="width: 24px; height: 24px; margin-right: 10px; vertical-align: middle;">
        Amity Papers Portal Administration
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
